:root{
    --main-clr:#041421;
    --secondary-clr:#042630;
    --third-clr:#4c7273;
    --fourth-clr:#86b9b0;
    --fifth-clr:#d0d6d6;

    --font-1: white; 
    --font-2: rgb(59, 160, 255) ;
    --font-3: black;
    --font-4: rgb(139, 138, 138);
}

/* * {
    box-sizing: border-box;
} */

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    display:grid;
    grid-template-columns: minmax(200px, 20%) repeat(3,1fr);
    grid-template-rows: minmax(182px, 15%) repeat(7,1fr) minmax(50px, 5%);
    grid-template-areas:
        "aside header header header"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside footer footer footer";
    min-height: 100vh;
}


footer{
    border:1px solid black;

}

/*aside here*/
aside{
    border: 1px solid black;
    background: var(--secondary-clr);
    grid-area: aside;
}

aside > div > a:visited,
aside > ul > li > a:visited,
aside > div > a,
aside > ul > li > a{
    color:var(--font-1);
}
aside > div > a:hover,
aside > ul > li > a:hover{
    color:var(--fourth-clr);
    border-bottom: 1.5px solid var(--main-clr);
}

h1{
    display:inline;
}

.main-logo{
    height:30px;
    width: 30px;
}

.aside-logo{
    height: 20px;
    width: 20px;
}


/*header here*/
header{
    padding-top: 10px;
    grid-area: header;
    background: var(--font-1);
    box-shadow: 0px 10px 10px var(--fourth-clr);
    /* position: relative;
    z-index: 1; */
}

.notif > a,
.notif > a:visited{
    color: var(--font-3);
}

.upper-name{
    font-weight: bolder;
}

label > img,
.notif > a:nth-child(1) img{
    width: 25px;
    height: 25px;
}
.notif > a:nth-child(2) img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
input[type=search],
input[type=search]:focus{
    background: var(--fourth-clr);
    border-radius: 10px;
    outline:none;
    border:none;
}

input[type=search]:focus,
input[type=search]:hover{
    box-shadow: 0px 5px 10px var(--third-clr);
}

input{
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-right: 40px;
}

.header-upper{
    display: flex;
    align-items: center;
}
form{
    flex:2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}
.notif{
    flex:1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-lower,
.lower-left,
.lower-right,
.nav{
    display:flex;
}
.header-lower{
    margin-left: 30px;
    margin-top: 10px;
}

.lower-left{
    flex:2;
    align-items: center;
    gap: 30px;
    font-weight: bolder;
}
.lower-right{
    flex:1;
    align-items: center;
}
.lower-left > div > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav{
    gap: 30px;
    margin-right: 50px;
}


.nav > a > li {
    background: var(--main-clr);
    width: 80px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
}

.nav > a,
.nav > a:visited{
    color: var(--font-1);
    border-radius: 12px;
}

.nav > a:hover{
    box-shadow: 0px 5px 10px var(--third-clr);
}

/*main here*/
main{
    grid-area: main;
    background: var(--fourth-clr);
    /* position:relative;
    z-index: 0; */

}


/*footer here*/

footer{
    grid-area: footer;
    background: var(--font-1);
}
